.wrong {
    background-color: red;
    color: white;
    text-align: center;
}

.correct {
    background-color: green;
    color: white;
    text-align: center;
}

.news-text {
    padding : 10px;
    border: 1px solid black;
    margin : 0;
}

.news-date {
    font-weight : bold;
    padding : 0 10px;
    background: #cceeff;
    border: 1px solid black;
    margin: 0;
}

.center {
    margin: auto;
    width: 90%;
}

.text-center {
    text-align: center;
}

.ranking-center {
    text-align: center;
    width: 70%;
}

.bold {
    font-weight:  bold;
}

button {
    padding: 10px;
    background-color:#cceeff;
    font-size: 20px;
    border-radius: 8px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

th {
    background-color: #cceeff;
    border: 1px solid;
    text-align: center;
    padding: 8px;
}
 
td {
    border: 1px solid;
    text-align: center;
}



