@(news: List[News], logoutUrl: Call)(implicit flash: Flash, request: RequestHeader)

@main("Welcome to Play") {
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/difficulty.css")">
    </head>
    <body class="center">
        <h1> @flash.get("info").getOrElse("")</h1>
        <h1>Play</h1>
            <form action="@controllers.routes.LandingPageController.question()"> 
                <input type="hidden" name="difficulty" value="easy">
                <input type="hidden" name="choice" value="multiple">
                <button type="submit" class="easy"> 
                    Easy
                </button>
            </form>
            <form action="@controllers.routes.LandingPageController.question()" > 
                <input type="hidden" name="difficulty" value="medium">
                <input type="hidden" name="choice" value="multiple">
                <button type="submit" class="medium">
                    Medium
                </button>
            </form>
            <form action="@controllers.routes.LandingPageController.question()"> 
                <input type="hidden" name="difficulty" value="hard">
                <input type="hidden" name="choice" value="multiple">
                <button type="submit" class="hard">
                    Hard
                </button>
            </form>
        <h3>News</h3>
        <table>
            @for(newsEntry <- news) {
                <div>
                    <p class="news-date">@newsEntry.getDate</p>
                    <p class="news-text">@newsEntry.text</p>
                </div>
            }
        </table>
        <br/>
        <a href="@logoutUrl">Log Out</a>
        <a href="@controllers.routes.UserMongoController.getRankList()">Rank List</a>
      
    </body>
    </html>

}
