@(news: List[News], logoutUrl: Call)(implicit flash: Flash)

@main("Welcome to Play") {
    
    <div class="center">
        <h1> @flash.get("info").getOrElse("")</h1>
        <h3>News</h3>
        <table>
            @for(newsEntry <- news) {
                <div>
                    <p class="news-date">@newsEntry.getDate</p>
                    <p class="news-text">@newsEntry.text</p>
                </div>
            }
        </table>
        <br/>
        <h3>Choose question</h3>
        <form action="@controllers.routes.LandingPageController.question()">
            <input type="radio" name="difficulty" value="easy" checked> Easy
            <input type="radio" name="difficulty" value="medium"> Medium
            <input type="radio" name="difficulty" value="hard"> Hard <br/>
            <h3>Select type:</h3>
            <input type="radio" name="choice" value="multiple" checked> Multiple choice
            <input type="radio" name="choice" value="boolean"> True/False <br/>
            <button>Get question</button>
        </form>
        <br/>
        <a href="@controllers.routes.UserMongoController.getRankList()">Rank List</a>
        <a href="@logoutUrl">Log Out</a>
    </div>

}
