@(news: List[News], logoutUrl: Call)(implicit flash: Flash, request: RequestHeader)

@main("Welcome to Play") {
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/difficulty.css")">
        <script type='text/javascript' src="@routes.Assets.versioned("javascripts/jquery-3.4.1.min.js")"></script>
        <script type='text/javascript' src="@routes.Assets.versioned("javascripts/loginLandingPage.js")"></script>
    </head>
    <body class="center">
        <h1> @flash.get("info").getOrElse("")</h1>
        <a href="@controllers.routes.UserMongoController.getRankList()">Rank List</a>
        <a href="@logoutUrl">Log Out</a>
        <br/>
        <h3>News</h3>
        <table>
            @for(newsEntry <- news) {
                <div>
                    <p class="news-date">@newsEntry.getDate</p>
                    <p class="news-text">@newsEntry.text</p>
                </div>
            }
        </table>
        <br/>
        <h3>Choose question</h3>
        <form action="@controllers.routes.LandingPageController.question()">
                <button type="submit" class="easy"> 
                    <input type="hidden" name="difficulty" value="easy">
                    <input type="hidden" name="choice" value="multiple">
                    Easy
                </button>
                <button type="submit" class="medium">
                    <input type="hidden" name="difficulty" value="medium">
                    <input type="hidden" name="choice" value="multiple">
                    Medium
                </button>
                <button type="submit" class="hard">
                    <input type="hidden" name="difficulty" value="hard">
                    <input type="hidden" name="choice" value="multiple">
                    Hard
                </button>
        </form>
        <br/>
        <form id="chatForm" data-ws-url="@routes.ChatController.socket.webSocketURL()">
            You: <input id="myMsg" type="text"><br>
            Other: <span id="receivedMsg"></span> 
            <br/>
            <button>Send</button>
        </form>
    </body>

}
