
@(questionData : Question)
<p> @questionData.category </p>
<h1>   @questionData.question </h1>
<form action="@controllers.routes.LandingPageController.showLandingPage()">
@if(questionData.`type` == "boolean"){
    <button>@questionData.correct_answer</button>
    <button>@questionData.incorrect_answers(0)</button>
}
@if(questionData.`type` == "multiple") {
    <button>@questionData.correct_answer</button>
    <button>@questionData.incorrect_answers(0)</button>
    <button>@questionData.incorrect_answers(1)</button>
    <button>@questionData.incorrect_answers(2)</button>
}
</form>

